body {
   margin-top: 80px;
}
.calendar {
   font-size: 16px;
   margin: 0 auto;
   border: 3px double black;
   border-spacing: 0px;
   border-collapse: separate;
   font-family: monospace;
}
.year-title {
   text-align: center;
}
.year-footer {
   border-top-style: solid;
   border-width: 1px;
   text-align: center;
}
.year-footer .moon {
   margin: 0;
}
.weekday-title {
   text-align: center;
}
.holiday {
   font-weight: bold;
}
.shortday {
   text-decoration: underline;
}
.month-title {
   border-left-style: solid;
   border-width: 1px;
   text-align: center;
   font-style: italic;
}
.c1 {
   border-left-style: solid;
   border-width: 1px;
}
tr.month td {
   border-top-style: solid;
   border-width: 1px;
}
td {
   padding: 0;
   line-height: 20px;
   height: 22px;
   width: 32px;
   position: relative;
   text-align: center;
}
.moon {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   margin: auto;
   height: 22px;
   width: 22px;
}
.moon-new {
   border: 3px double #058305;
   border-radius: 22px;
}
.moon-first {
   width: 12px;
   border: 1px solid #0402fc;
   border-radius:  0 22px 22px 0;
}
.moon-full {
   border: 1px solid #040283;
   border-radius: 22px;
}
.moon-last {
   width: 12px;
   border: 1px solid #830204;
   border-radius: 22px 0 0 22px;
}
span.legend {
   position: relative;
   font-size: 12px;
   line-height: 23px;
   display: inline-block;
   padding-left: 25px;
}
span.legend span {
   font-size: 16px;
   position: absolute;
   left: 0;
}

.calendar.a4 {
   font-size: 24px;
}
.calendar.a4 td {
   line-height: 30px;
   height: 33px;
   width: 48px;
}
.calendar.a4 span.legend {
   font-size: 18px;
   line-height: 34px;
   padding-left: 34px;
}
.calendar.a4 span.legend span {
   font-size: 24px;
}
.calendar.a4 .moon {
   height: 32px;
   width: 32px;
}
.calendar.a4 .moon-new {
   border-radius: 32px;
}
.calendar.a4 .moon-first {
   width: 16px;
   border-radius:  0 32px 32px 0;
}
.calendar.a4 .moon-full {
   border-radius: 32px;
}
.calendar.a4 .moon-last {
   width: 16px;
   border-radius: 32px 0 0 32px;
}

@media print {
   @page {
      margin: 6mm;
   }
   .calendar {
      font-size: 4mm;
   }
   td {
      line-height: 3.5mm;
      height: 4.8mm;
      width: 7.1mm;
   }
   span.legend {
      font-size: 3mm;
      line-height: 4.1mm;
   }
   span.legend span {
      font-size: 4mm;
   }
   .moon {
      height: 4mm;
      width: 4mm;
   }
   .moon-new {
      border-radius: 4mm;
   }
   .moon-first {
      width: 2mm;
      border-radius:  0 4mm 4mm 0;
   }
   .moon-full {
      border-radius: 4mm;
   }
   .moon-last {
      width: 2mm;
      border-radius: 4mm 0 0 4mm;
   }

   .calendar.a4 {
      font-size: 5.6mm;
   }
   .calendar.a4 td {
      line-height: 4.9mm;
      height: 6.7mm;
      width: 9.9mm;
   }
   .calendar.a4 span.legend {
      font-size: 3mm;
      line-height: 6mm;
   }
   .calendar.a4 span.legend span {
      font-size: 5.6mm;
   }
   .calendar.a4 .moon {
      height: 5.6mm;
      width: 5.6mm;
   }
   .calendar.a4 .moon-new {
      border-radius: 5.6mm;
   }
   .calendar.a4 .moon-first {
      width: 2.3mm;
      border-radius:  0 5.6mm 5.6mm 0;
   }
   .calendar.a4 .moon-full {
      border-radius: 5.6mm;
   }
   .calendar.a4 .moon-last {
      width: 2.3mm;
      border-radius: 5.6mm 0 0 5.6mm;
   }
}
